.navbar {
    background-color: #343a40;
    padding: 15px;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: yellow;
}

.navbar-nav {
    list-style: none;
    padding-left: 0;
}

.navbar-nav li {
    display: inline;
    margin-right: 20px;
}

.navbar-nav li a.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.navbar-nav li a.nav-link:hover {
    color: yellow;
}
